#
# Copyright (C) 2009-2012 Chris McClelland
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Lesser General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Lesser General Public License for more details.
#
# You should have received a copy of the GNU Lesser General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#



#===============================================================================
# USB interface
#===============================================================================
NET "fx2Clk_in"       	LOC="T15"  | IOSTANDARD=LVTTL;   # IFCLK
NET "fx2Addr_out<0>"  	LOC="T14"  | IOSTANDARD=LVTTL;   # PA4/FIFOADR0
NET "fx2Addr_out<1>"  	LOC="V13"  | IOSTANDARD=LVTTL;   # PA5/FIFOADR1

NET "fx2Data_io<0>"   	LOC="R14"  | IOSTANDARD=LVTTL;   # PB0/FD0
NET "fx2Data_io<1>"   	LOC="R13"  | IOSTANDARD=LVTTL;   # PB1/FD1
NET "fx2Data_io<2>"   	LOC="P13"  | IOSTANDARD=LVTTL;   # PB2/FD2
NET "fx2Data_io<3>"   	LOC="T12"  | IOSTANDARD=LVTTL;   # PB3/FD3
NET "fx2Data_io<4>"   	LOC="N11"  | IOSTANDARD=LVTTL;   # PB4/FD4
NET "fx2Data_io<5>"   	LOC="R11"  | IOSTANDARD=LVTTL;   # PB5/FD5
NET "fx2Data_io<6>"   	LOC="P10"  | IOSTANDARD=LVTTL;   # PB6/FD6
NET "fx2Data_io<7>"   	LOC="R10"  | IOSTANDARD=LVTTL;   # PB7/FD7

NET "fx2Read_out"     	LOC="N9"   | IOSTANDARD=LVTTL;   # RDY0/SLRD
NET "fx2OE_out"       	LOC="V15"  | IOSTANDARD=LVTTL;   # PA2/SLOE
NET "fx2GotData_in"   	LOC="V16"  | IOSTANDARD=LVTTL;   # CTL2/FLAGC

NET "fx2Write_out"    	LOC="V9"   | IOSTANDARD=LVTTL;   # RDY1/SLWR
NET "fx2GotRoom_in"   	LOC="U14"  | IOSTANDARD=LVTTL;   # CTL1/FLAGB
NET "fx2PktEnd_out"   	LOC="V12"  | IOSTANDARD=LVTTL;   # PA6/PKTEND

#===============================================================================
# Signals from Nexys2
#===============================================================================
NET "gclk0"         	LOC = "B8"  | IOSTANDARD=LVTTL;    # Bank = 0, Pin name = IP_L13P_0/GCLK8, Type = GCLK,                 Sch name = GCLK0
NET "reset"      		LOC = "B18" | IOSTANDARD=LVTTL;   # Bank = 1, Pin name = IP, Type = INPUT,                             Sch name = BTN0

NET "spi_state<0>"      LOC = "E17" | IOSTANDARD=LVTTL;   # Bank = 1, Pin name = IO, Type = I/O,                               Sch name = LD4? s3e500 only
NET "spi_state<1>"      LOC = "P15" | IOSTANDARD=LVTTL;   # Bank = 1, Pin name = IO, Type = I/O,                               Sch name = LD5? s3e500 only
NET "spi_state<2>"      LOC = "F4" | IOSTANDARD=LVTTL;    # Bank = 3, Pin name = IO, Type = I/O,                               Sch name = LD6? s3e500 only
NET "spi_state<3>"      LOC = "R4" | IOSTANDARD=LVTTL;    # Bank = 3, Pin name = IO/VREF_3, Type = VREF,                       Sch name = LD7? s3e500 only

#===============================================================================
# CellRAM bus
#===============================================================================

NET "mem_oe_n"       	LOC = "T2" | IOSTANDARD=LVTTL;    # Bank = 3, Pin name = IO_L24P_3, Type = I/O,                        Sch name = OE
NET "mem_we_n"       	LOC = "N7" | IOSTANDARD=LVTTL;    # Bank = 2, Pin name = IO_L07P_2, Type = I/O,                        Sch name = WE

NET "mem_adv_n"      	LOC = "J4" | IOSTANDARD=LVTTL;    # Bank = 3, Pin name = IO_L11N_3/LHCLK1, Type = LHCLK,               Sch name = MT-ADV
NET "mem_ce_n"       	LOC = "R6" | IOSTANDARD=LVTTL;    # Bank = 2, Pin name = IO_L05P_2, Type = I/O,                        Sch name = MT-CE
NET "clk_mem_out"      	LOC = "H5" | IOSTANDARD=LVTTL;    # Bank = 3, Pin name = IO_L08N_3, Type = I/O,                        Sch name = MT-CLK
NET "mem_cre"      		LOC = "P7" | IOSTANDARD=LVTTL;    # Bank = 2, Pin name = IO_L07N_2, Type = I/O,                        Sch name = MT-CRE
NET "mem_lb_n"       	LOC = "K5" | IOSTANDARD=LVTTL;    # Bank = 3, Pin name = IO_L14N_3/LHCLK7, Type = LHCLK,               Sch name = MT-LB
NET "mem_ub_n"       	LOC = "K4" | IOSTANDARD=LVTTL;    # Bank = 3, Pin name = IO_L13N_3/LHCLK5, Type = LHCLK,               Sch name = MT-UB
NET "mem_wait"     		LOC = "F5" | IOSTANDARD=LVTTL;    # Bank = 3, Pin name = IP, Type = INPUT,                             Sch name = MT-WAIT

NET "mem_a<0>"   		LOC = "J1" | IOSTANDARD=LVTTL;    # Bank = 3, Pin name = IO_L12P_3/LHCLK2, Type = LHCLK,               Sch name = ADR1
NET "mem_a<1>"   		LOC = "J2" | IOSTANDARD=LVTTL;    # Bank = 3, Pin name = IO_L12N_3/LHCLK3/IRDY2, Type = LHCLK,         Sch name = ADR2
NET "mem_a<2>"   		LOC = "H4" | IOSTANDARD=LVTTL;    # Bank = 3, Pin name = IO_L09P_3, Type = I/O,                        Sch name = ADR3
NET "mem_a<3>"   		LOC = "H1" | IOSTANDARD=LVTTL;    # Bank = 3, Pin name = IO_L10N_3, Type = I/O,                        Sch name = ADR4
NET "mem_a<4>"   		LOC = "H2" | IOSTANDARD=LVTTL;    # Bank = 3, Pin name = IO_L10P_3, Type = I/O,                        Sch name = ADR5
NET "mem_a<5>"   		LOC = "J5" | IOSTANDARD=LVTTL;    # Bank = 3, Pin name = IO_L11P_3/LHCLK0, Type = LHCLK,               Sch name = ADR6
NET "mem_a<6>"   		LOC = "H3" | IOSTANDARD=LVTTL;    # Bank = 3, Pin name = IO_L09N_3, Type = I/O,                        Sch name = ADR7
NET "mem_a<7>"   		LOC = "H6" | IOSTANDARD=LVTTL;    # Bank = 3, Pin name = IO_L08P_3, Type = I/O,                        Sch name = ADR8
NET "mem_a<8>"   		LOC = "F1" | IOSTANDARD=LVTTL;    # Bank = 3, Pin name = IO_L05P_3, Type = I/O,                        Sch name = ADR9
NET "mem_a<9>"  		LOC = "G3" | IOSTANDARD=LVTTL;    # Bank = 3, Pin name = IO_L06P_3, Type = I/O,                        Sch name = ADR10
NET "mem_a<10>"  		LOC = "G6" | IOSTANDARD=LVTTL;    # Bank = 3, Pin name = IO_L07P_3, Type = I/O,                        Sch name = ADR11
NET "mem_a<11>"  		LOC = "G5" | IOSTANDARD=LVTTL;    # Bank = 3, Pin name = IO_L07N_3, Type = I/O,                        Sch name = ADR12
NET "mem_a<12>"  		LOC = "G4" | IOSTANDARD=LVTTL;    # Bank = 3, Pin name = IO_L06N_3/VREF_3, Type = VREF,                Sch name = ADR13
NET "mem_a<13>"  		LOC = "F2" | IOSTANDARD=LVTTL;    # Bank = 3, Pin name = IO_L05N_3, Type = I/O,                        Sch name = ADR14
NET "mem_a<14>"  		LOC = "E1" | IOSTANDARD=LVTTL;    # Bank = 3, Pin name = IO_L03N_3, Type = I/O,                        Sch name = ADR15
NET "mem_a<15>"  		LOC = "M5" | IOSTANDARD=LVTTL;    # Bank = 3, Pin name = IO_L19P_3, Type = I/O,                        Sch name = ADR16
NET "mem_a<16>"  		LOC = "E2" | IOSTANDARD=LVTTL;    # Bank = 3, Pin name = IO_L03P_3, Type = I/O,                        Sch name = ADR17
NET "mem_a<17>"  		LOC = "C2" | IOSTANDARD=LVTTL;    # Bank = 3, Pin name = IO_L01N_3, Type = I/O,                        Sch name = ADR18
NET "mem_a<18>"  		LOC = "C1" | IOSTANDARD=LVTTL;    # Bank = 3, Pin name = IO_L01P_3, Type = I/O,                        Sch name = ADR19
NET "mem_a<19>"  		LOC = "D2" | IOSTANDARD=LVTTL;    # Bank = 3, Pin name = IO_L02N_3/VREF_3, Type = VREF,                Sch name = ADR20
NET "mem_a<20>"  		LOC = "K3" | IOSTANDARD=LVTTL;    # Bank = 3, Pin name = IO_L13P_3/LHCLK4/TRDY2, Type = LHCLK,         Sch name = ADR21
NET "mem_a<21>"  		LOC = "D1" | IOSTANDARD=LVTTL;    # Bank = 3, Pin name = IO_L02P_3, Type = I/O,                        Sch name = ADR22
NET "mem_a<22>"  		LOC = "K6" | IOSTANDARD=LVTTL;    # Bank = 3, Pin name = IO_L14P_3/LHCLK6, Type = LHCLK,               Sch name = ADR23

NET "mem_dq<0>"    		LOC = "L1" | IOSTANDARD=LVTTL;    # Bank = 3, Pin name = IO_L15P_3, Type = I/O,                        Sch name = DB0
NET "mem_dq<1>"    		LOC = "L4" | IOSTANDARD=LVTTL;    # Bank = 3, Pin name = IO_L16N_3, Type = I/O,                        Sch name = DB1
NET "mem_dq<2>"    		LOC = "L6" | IOSTANDARD=LVTTL;    # Bank = 3, Pin name = IO_L17P_3, Type = I/O,                        Sch name = DB2
NET "mem_dq<3>"    		LOC = "M4" | IOSTANDARD=LVTTL;    # Bank = 3, Pin name = IO_L18P_3, Type = I/O,                        Sch name = DB3
NET "mem_dq<4>"    		LOC = "N5" | IOSTANDARD=LVTTL;    # Bank = 3, Pin name = IO_L20N_3, Type = I/O,                        Sch name = DB4
NET "mem_dq<5>"    		LOC = "P1" | IOSTANDARD=LVTTL;    # Bank = 3, Pin name = IO_L21N_3, Type = I/O,                        Sch name = DB5
NET "mem_dq<6>"    		LOC = "P2" | IOSTANDARD=LVTTL;    # Bank = 3, Pin name = IO_L21P_3, Type = I/O,                        Sch name = DB6
NET "mem_dq<7>"    		LOC = "R2" | IOSTANDARD=LVTTL;    # Bank = 3, Pin name = IO_L23N_3, Type = I/O,                        Sch name = DB7
NET "mem_dq<8>"    		LOC = "L3" | IOSTANDARD=LVTTL;    # Bank = 3, Pin name = IO_L16P_3, Type = I/O,                        Sch name = DB8
NET "mem_dq<9>"    		LOC = "L5" | IOSTANDARD=LVTTL;    # Bank = 3, Pin name = IO_L17N_3/VREF_3, Type = VREF,                Sch name = DB9
NET "mem_dq<10>"   		LOC = "M3" | IOSTANDARD=LVTTL;    # Bank = 3, Pin name = IO_L18N_3, Type = I/O,                        Sch name = DB10
NET "mem_dq<11>"   		LOC = "M6" | IOSTANDARD=LVTTL;    # Bank = 3, Pin name = IO_L19N_3, Type = I/O,                        Sch name = DB11
NET "mem_dq<12>"   		LOC = "L2" | IOSTANDARD=LVTTL;    # Bank = 3, Pin name = IO_L15N_3, Type = I/O,                        Sch name = DB12
NET "mem_dq<13>"   		LOC = "N4" | IOSTANDARD=LVTTL;    # Bank = 3, Pin name = IO_L20P_3, Type = I/O,                        Sch name = DB13
NET "mem_dq<14>"   		LOC = "R3" | IOSTANDARD=LVTTL;    # Bank = 3, Pin name = IO_L23P_3, Type = I/O,                        Sch name = DB14
NET "mem_dq<15>"   		LOC = "T1" | IOSTANDARD=LVTTL;    # Bank = 3, Pin name = IO_L24N_3, Type = I/O,                        Sch name = DB15



#===============================================================================
# Signals to/from isolator
#===============================================================================

NET "pmod1<0>"       	LOC = "L15" | IOSTANDARD=LVTTL;   # Bank = 1, Pin name = IO_L09N_1/A11, Type = DUAL,                   Sch name = JA1
NET "pmod1<1>"       	LOC = "K12" | IOSTANDARD=LVTTL;   # Bank = 1, Pin name = IO_L11N_1/A9/RHCLK1, Type = RHCLK/DUAL,       Sch name = JA2
NET "pmod1<2>"       	LOC = "L17" | IOSTANDARD=LVTTL;   # Bank = 1, Pin name = IO_L10N_1/VREF_1, Type = VREF,                Sch name = JA3
NET "pmod1<3>"       	LOC = "M15" | IOSTANDARD=LVTTL;   # Bank = 1, Pin name = IO_L07P_1, Type = I/O,                        Sch name = JA4
NET "pmod1<4>"       	LOC = "K13" | IOSTANDARD=LVTTL;   # Bank = 1, Pin name = IO_L11P_1/A10/RHCLK0, Type = RHCLK/DUAL,      Sch name = JA7
NET "pmod1<5>"       	LOC = "L16" | IOSTANDARD=LVTTL;   # Bank = 1, Pin name = IO_L09P_1/A12, Type = DUAL,                   Sch name = JA8
NET "pmod1<6>"       	LOC = "M14" | IOSTANDARD=LVTTL;   # Bank = 1, Pin name = IO_L05P_1, Type = I/O,                        Sch name = JA9
NET "pmod1<7>"       	LOC = "M16" | IOSTANDARD=LVTTL;   # Bank = 1, Pin name = IO_L07N_1, Type = I/O,                        Sch name = JA10

##JB
NET "pmod2<0>"       	LOC = "M13" | IOSTANDARD=LVTTL;   # Bank = 1, Pin name = IO_L05N_1/VREF_1, Type = VREF,                Sch name = JB1
NET "pmod2<1>"       	LOC = "R18" | IOSTANDARD=LVTTL;   # Bank = 1, Pin name = IO_L02P_1/A14, Type = DUAL,                   Sch name = JB2
NET "pmod2<2>"       	LOC = "R15" | IOSTANDARD=LVTTL;   # Bank = 1, Pin name = IO_L03P_1, Type = I/O,                        Sch name = JB3
NET "pmod2<3>"       	LOC = "T17" | IOSTANDARD=LVTTL;   # Bank = 1, Pin name = IO_L01N_1/A15, Type = DUAL,                   Sch name = JB4
NET "pmod2<4>"       	LOC = "P17" | IOSTANDARD=LVTTL;   # Bank = 1, Pin name = IO_L06P_1, Type = I/O,                        Sch name = JB7
NET "pmod2<5>"       	LOC = "R16" | IOSTANDARD=LVTTL;   # Bank = 1, Pin name = IO_L03N_1/VREF_1, Type = VREF,                Sch name = JB8
NET "pmod2<6>"       	LOC = "T18" | IOSTANDARD=LVTTL;   # Bank = 1, Pin name = IO_L02N_1/A13, Type = DUAL,                   Sch name = JB9
NET "pmod2<7>"       	LOC = "U18" | IOSTANDARD=LVTTL;   # Bank = 1, Pin name = IO_L01P_1/A16, Type = DUAL,                   Sch name = JB10

##JC
NET "pmod3<0>"       	LOC = "G15" | IOSTANDARD=LVTTL;   # Bank = 1, Pin name = IO_L18P_1, Type = I/O,                        Sch name = JC1
NET "pmod3<1>"       	LOC = "J16" | IOSTANDARD=LVTTL;   # Bank = 1, Pin name = IO_L13N_1/A5/RHCLK5, Type = RHCLK/DUAL,       Sch name = JC2
NET "pmod3<2>"       	LOC = "G13" | IOSTANDARD=LVTTL;   # Bank = 1, Pin name = IO_L20N_1, Type = I/O,                        Sch name = JC3
NET "pmod3<3>"       	LOC = "H16" | IOSTANDARD=LVTTL;   # Bank = 1, Pin name = IO_L16P_1, Type = I/O,                        Sch name = JC4
NET "pmod3<4>"       	LOC = "H15" | IOSTANDARD=LVTTL;   # Bank = 1, Pin name = IO_L17N_1, Type = I/O,                        Sch name = JC7
NET "pmod3<5>"       	LOC = "F14" | IOSTANDARD=LVTTL;   # Bank = 1, Pin name = IO_L21N_1, Type = I/O,                        Sch name = JC8
NET "pmod3<6>"       	LOC = "G16" | IOSTANDARD=LVTTL;   # Bank = 1, Pin name = IO_L18N_1, Type = I/O,                        Sch name = JC9
NET "pmod3<7>"       	LOC = "J12" | IOSTANDARD=LVTTL;   # Bank = 1, Pin name = IO_L15P_1/A2, Type = DUAL,                    Sch name = JC10

##JD - NOTE: For other JD pins see LD(3:0) above under "Leds"
NET "pmod4<0>"       	LOC = "J13" | IOSTANDARD=LVTTL;   # Bank = 1, Pin name = IO_L15N_1/A1, Type = DUAL,                    Sch name = JD1
NET "pmod4<1>"       	LOC = "M18" | IOSTANDARD=LVTTL;   # Bank = 1, Pin name = IO_L08N_1, Type = I/O,                        Sch name = JD2
NET "pmod4<2>"       	LOC = "N18" | IOSTANDARD=LVTTL;   # Bank = 1, Pin name = IO_L08P_1, Type = I/O,                        Sch name = JD3
NET "pmod4<3>"       	LOC = "P18" | IOSTANDARD=LVTTL;   # Bank = 1, Pin name = IO_L06N_1, Type = I/O,                        Sch name = JD4
NET "pmod4<4>"      	LOC = "K14" | IOSTANDARD=LVTTL;   # Bank = 1, Pin name = IO_L12N_1/A7/RHCLK3/TRDY1, Type = RHCLK/DUAL, Sch name = JD7/LD3
NET "pmod4<5>"      	LOC = "K15" | IOSTANDARD=LVTTL;   # Bank = 1, Pin name = IO_L12P_1/A8/RHCLK2, Type = RHCLK/DUAL,       Sch name = JD8/LD2
NET "pmod4<6>"      	LOC = "J15" | IOSTANDARD=LVTTL;   # Bank = 1, Pin name = IO_L14P_1/A4/RHCLK6, Type = RHCLK/DUAL,       Sch name = JD9/LD1
NET "pmod4<7>"      	LOC = "J14" | IOSTANDARD=LVTTL;   # Bank = 1, Pin name = IO_L14N_1/A3/RHCLK7, Type = RHCLK/DUAL,       Sch name = JD10/LD0


#===============================================================================
# Timing constraint of FX2 48MHz clock "fx2Clk_in"
#===============================================================================
NET "fx2Clk_in" CLOCK_DEDICATED_ROUTE = FALSE;
NET "fx2Clk_in" TNM_NET = "fx2Clk_in";
TIMESPEC "TS_clk" = PERIOD "fx2Clk_in" 20 ns HIGH 50 %;

#===============================================================================
# Timing constraint of Nexys2 50MHz clock "gclk0"
#===============================================================================
NET "gclk0" CLOCK_DEDICATED_ROUTE = FALSE;
NET "gclk0" TNM_NET = "gclk0";
TIMESPEC "TS_gclk0" = PERIOD "gclk0" 20 ns HIGH 50 %;

NET "pmod4<4>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "pmod4<4>" TNM_NET = "clk0";
TIMESPEC "TS_clk0" = PERIOD "clk0" 20 ns HIGH 50 %;

NET "pmod3<4>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "pmod3<4>" TNM_NET = "clk1";
TIMESPEC "TS_clk1" = PERIOD "clk1" 20 ns HIGH 50 %;

TIMESPEC TS_false_path_1a = FROM "gclk0" TO "clk0" TIG ;
TIMESPEC TS_false_path_1b = FROM "clk0" TO "gclk0" TIG ;

TIMESPEC TS_false_path_2a = FROM "gclk0" TO "clk1" TIG ;
TIMESPEC TS_false_path_2b = FROM "clk1" TO "gclk0" TIG ;

TIMESPEC TS_false_path_3a = FROM "clk0" TO "clk1" TIG ;
TIMESPEC TS_false_path_3b = FROM "clk1" TO "clk0" TIG ;
