NET "usb_addr[0]" LOC = T14;
NET "usb_addr[1]" LOC = V13;
NET "usb_data[0]" LOC = R14;
NET "usb_data[1]" LOC = R13;
NET "usb_data[2]" LOC = P13;
NET "usb_data[3]" LOC = T12;
NET "usb_data[4]" LOC = N11;
NET "usb_data[5]" LOC = R11;
NET "usb_data[6]" LOC = P10;
NET "usb_data[7]" LOC = R10;
NET "mem_addr[10]" LOC = G3;
NET "mem_addr[11]" LOC = G5;
NET "mem_addr[12]" LOC = G6;
NET "mem_addr[13]" LOC = G4;
NET "mem_addr[14]" LOC = F2;
NET "mem_addr[15]" LOC = E1;
NET "mem_addr[16]" LOC = M5;
NET "mem_addr[17]" LOC = E2;
NET "mem_addr[18]" LOC = C2;
NET "mem_addr[19]" LOC = C1;
NET "mem_addr[1]" LOC = J1;
NET "mem_addr[20]" LOC = D2;
NET "mem_addr[21]" LOC = K3;
NET "mem_addr[22]" LOC = D1;
NET "mem_addr[23]" LOC = K6;
NET "mem_addr[2]" LOC = J2;
NET "mem_addr[3]" LOC = H4;
NET "mem_addr[4]" LOC = H1;
NET "mem_addr[5]" LOC = H2;
NET "mem_addr[6]" LOC = J5;
NET "mem_addr[7]" LOC = H3;
NET "mem_addr[8]" LOC = H6;
NET "mem_addr[9]" LOC = F1;
NET "buttons[0]" LOC = B18;
NET "buttons[1]" LOC = D18;
NET "buttons[2]" LOC = E18;
NET "buttons[3]" LOC = H13;
NET "mem_data[0]" LOC = L1;
NET "mem_data[10]" LOC = M3;
NET "mem_data[11]" LOC = M6;
NET "mem_data[12]" LOC = L2;
NET "mem_data[13]" LOC = N4;
NET "mem_data[14]" LOC = R3;
NET "mem_data[15]" LOC = T1;
NET "mem_data[1]" LOC = L4;
NET "mem_data[2]" LOC = L6;
NET "mem_data[3]" LOC = M4;
NET "mem_data[4]" LOC = N5;
NET "mem_data[5]" LOC = P1;
NET "mem_data[6]" LOC = P2;
NET "mem_data[7]" LOC = R2;
NET "mem_data[8]" LOC = L3;
NET "mem_data[9]" LOC = L5;
NET "pmod_a[0]" LOC = L15;
NET "pmod_a[1]" LOC = K12;
NET "pmod_a[2]" LOC = L17;
NET "pmod_a[3]" LOC = M15;
NET "pmod_a[4]" LOC = K13;
NET "pmod_a[5]" LOC = L16;
NET "pmod_a[6]" LOC = M14;
NET "pmod_a[7]" LOC = M16;
NET "pmod_b[0]" LOC = M13;
NET "pmod_b[1]" LOC = R18;
NET "pmod_b[2]" LOC = R15;
NET "pmod_b[3]" LOC = T17;
NET "pmod_b[4]" LOC = P17;
NET "pmod_b[5]" LOC = R16;
NET "pmod_b[6]" LOC = T18;
NET "pmod_b[7]" LOC = U18;
NET "pmod_c[0]" LOC = G15;
NET "pmod_c[1]" LOC = J16;
NET "pmod_c[2]" LOC = G13;
NET "pmod_c[3]" LOC = H16;
NET "pmod_c[4]" LOC = H15;
NET "pmod_c[5]" LOC = F14;
NET "pmod_c[6]" LOC = G16;
NET "pmod_c[7]" LOC = J12;
NET "pmod_d[0]" LOC = J13;
NET "pmod_d[1]" LOC = M18;
NET "pmod_d[2]" LOC = N18;
NET "pmod_d[3]" LOC = P18;
NET "pmod_d[4]" LOC = K14;
NET "pmod_d[5]" LOC = K15;
NET "pmod_d[6]" LOC = J15;
NET "pmod_d[7]" LOC = J14;
NET "switches[0]" LOC = G18;
NET "switches[1]" LOC = H18;
NET "switches[2]" LOC = K18;
NET "switches[3]" LOC = K17;
NET "switches[4]" LOC = L14;
NET "switches[5]" LOC = L13;
NET "switches[6]" LOC = N17;
NET "switches[7]" LOC = R17;
NET "clk0" LOC = B8;
NET "clk1" LOC = U9;
NET "led_7seg_an[0]" LOC = F15;
NET "led_7seg_an[1]" LOC = C18;
NET "led_7seg_an[2]" LOC = H17;
NET "led_7seg_an[3]" LOC = F17;
NET "led_7seg_cat[0]" LOC = L18;
NET "led_7seg_cat[1]" LOC = F18;
NET "led_7seg_cat[2]" LOC = D17;
NET "led_7seg_cat[3]" LOC = D16;
NET "led_7seg_cat[4]" LOC = G14;
NET "led_7seg_cat[5]" LOC = J17;
NET "led_7seg_cat[6]" LOC = H14;
NET "led_7seg_cat[7]" LOC = C17;
NET "led_upper[0]" LOC = E17;
NET "led_upper[1]" LOC = P15;
NET "led_upper[2]" LOC = F4;
NET "led_upper[3]" LOC = R4;
NET "ps2_clk" LOC = R12;
NET "ps2_data" LOC = P11;
NET "serial_in" LOC = U6;
NET "serial_out" LOC = P9;
NET "vga_blue[0]" LOC = U5;
NET "vga_blue[1]" LOC = U4;
NET "vga_green[0]" LOC = N8;
NET "vga_green[1]" LOC = P8;
NET "vga_green[2]" LOC = P6;
NET "vga_hsync" LOC = T4;
NET "vga_red[0]" LOC = R9;
NET "vga_red[1]" LOC = T8;
NET "vga_red[2]" LOC = R8;
NET "vga_vsync" LOC = U3;
NET "flash_ce" LOC = R5;
NET "flash_rp" LOC = T5;
NET "flash_sts" LOC = D3;
NET "fx2[0]" LOC = B4;
NET "fx2[10]" LOC = C7;
NET "fx2[11]" LOC = F8;
NET "fx2[12]" LOC = D7;
NET "fx2[13]" LOC = E8;
NET "fx2[14]" LOC = E9;
NET "fx2[15]" LOC = C9;
NET "fx2[16]" LOC = A8;
NET "fx2[17]" LOC = G9;
NET "fx2[18]" LOC = F9;
NET "fx2[19]" LOC = D10;
NET "fx2[1]" LOC = A4;
NET "fx2[20]" LOC = A10;
NET "fx2[21]" LOC = B10;
NET "fx2[22]" LOC = A11;
NET "fx2[23]" LOC = D11;
NET "fx2[24]" LOC = E10;
NET "fx2[25]" LOC = B11;
NET "fx2[26]" LOC = C11;
NET "fx2[27]" LOC = E11;
NET "fx2[28]" LOC = F11;
NET "fx2[29]" LOC = E12;
NET "fx2[2]" LOC = C3;
NET "fx2[30]" LOC = F12;
NET "fx2[31]" LOC = A13;
NET "fx2[32]" LOC = B13;
NET "fx2[33]" LOC = E13;
NET "fx2[34]" LOC = A14;
NET "fx2[35]" LOC = C14;
NET "fx2[36]" LOC = D14;
NET "fx2[37]" LOC = B14;
NET "fx2[38]" LOC = A16;
NET "fx2[39]" LOC = B16;
NET "fx2[3]" LOC = C4;
NET "fx2[4]" LOC = B6;
NET "fx2[5]" LOC = D5;
NET "fx2[6]" LOC = C5;
NET "fx2[7]" LOC = F7;
NET "fx2[8]" LOC = E7;
NET "fx2[9]" LOC = A6;
NET "mem_adv" LOC = J4;
NET "mem_ce" LOC = R6;
NET "mem_clk" LOC = H5;
NET "mem_cre" LOC = P7;
NET "mem_lb" LOC = K5;
NET "mem_oe" LOC = T2;
NET "mem_ub" LOC = K4;
NET "mem_wait" LOC = F5;
NET "mem_we" LOC = N7;
NET "usb_flaga" LOC = V14;
NET "usb_flagb" LOC = U14;
NET "usb_flagc" LOC = V16;
NET "usb_ifclk" LOC = T15;
NET "usb_ifclk" CLOCK_DEDICATED_ROUTE = FALSE;
NET "usb_pktend" LOC = V12;
NET "usb_slcs" LOC = T16;
NET "usb_sloe" LOC = V15;
NET "usb_slrd" LOC = N9;
NET "usb_slwr" LOC = V9;
NET "usb_int0" LOC = U15;
