# USBP  V1 Interface

## FX2 Interface
NET "IFCLK"   LOC = P124 | IOSTANDARD=LVCMOS33 ;
NET "RESET"   LOC = P8   | IOSTANDARD=LVCMOS33 ;
#NET "CLKOUT"  LOC = P127 | IOSTANDARD=LVCMOS33 ;
#NET "WAKEUP"  LOC = P7   | IOSTANDARD=LVCMOS33 ;

NET "FLAGA"   LOC = P15  | IOSTANDARD=LVCMOS33 ;
NET "FLAGB"   LOC = P14  | IOSTANDARD=LVCMOS33 ; 
NET "FLAGC"   LOC = P13  | IOSTANDARD=LVCMOS33 ;
NET "FLAGD"   LOC = P132 | IOSTANDARD=LVCMOS33 ;

NET "SLOE"    LOC = P10  | IOSTANDARD=LVCMOS33 ;
NET "SLRD"    LOC = P123 | IOSTANDARD=LVCMOS33 ;
NET "SLWR"    LOC = P122 | IOSTANDARD=LVCMOS33 ;
NET "PKTEND"  LOC = P135 | IOSTANDARD=LVCMOS33 ;

NET "FIFOADR<0>" LOC = P140 | IOSTANDARD=LVCMOS33 ;
NET "FIFOADR<1>" LOC = P137 | IOSTANDARD=LVCMOS33 ;

NET "FD<0>"   LOC = P27 | IOSTANDARD=LVCMOS33 ; 
NET "FD<1>"   LOC = P26 | IOSTANDARD=LVCMOS33 ;
NET "FD<2>"   LOC = P25 | IOSTANDARD=LVCMOS33 ;
NET "FD<3>"   LOC = P24 | IOSTANDARD=LVCMOS33 ;
NET "FD<4>"   LOC = P23 | IOSTANDARD=LVCMOS33 ;
NET "FD<5>"   LOC = P21 | IOSTANDARD=LVCMOS33 ;
NET "FD<6>"   LOC = P20 | IOSTANDARD=LVCMOS33 ;
NET "FD<7>"   LOC = P18 | IOSTANDARD=LVCMOS33 ;

## LEDS
NET "LED<0>"  LOC = P92  | IOSTANDARD=LVCMOS33 | DRIVE=2 ;
NET "LED<1>"  LOC = P93  | IOSTANDARD=LVCMOS33 | DRIVE=2 ;
NET "LED<2>"  LOC = P95  | IOSTANDARD=LVCMOS33 | DRIVE=2 ;
NET "LED<3>"  LOC = P96  | IOSTANDARD=LVCMOS33 | DRIVE=2 ;
NET "LED<4>"  LOC = P97  | IOSTANDARD=LVCMOS33 | DRIVE=2 ;
NET "LED<5>"  LOC = P98  | IOSTANDARD=LVCMOS33 | DRIVE=2 ;
NET "LED<6>"  LOC = P99  | IOSTANDARD=LVCMOS33 | DRIVE=2 ;
NET "LED<7>"  LOC = P100 | IOSTANDARD=LVCMOS33 | DRIVE=2 ;

## Button Inputs
#NET "BTN<0>"  LOC = P83 | IOSTANDARD=LVCMOS33 ;
#NET "BTN<1>"  LOC = P82 | IOSTANDARD=LVCMOS33 ;

# SPI Signals
#NET "SS<0>"   LOC = P80    | IOSTANDARD=LVCMOS33 ; # GPIO0
#NET "SS<1>"   LOC = P79    | IOSTANDARD=LVCMOS33 ; # GPIO1
#NET "SS<2>"   LOC = P78    | IOSTANDARD=LVCMOS33 ; # GPIO2
#NET "SS<3>"   LOC = P77    | IOSTANDARD=LVCMOS33 ; # GPIO3
#NET "SS<4>"   LOC = P76    | IOSTANDARD=LVCMOS33 ; # GPIO4
#NET "SS<5>"   LOC = P74    | IOSTANDARD=LVCMOS33 ; # GPIO5
#NET "SS<6>"   LOC = P73    | IOSTANDARD=LVCMOS33 ; # GPIO6
#NET "SS<7>"   LOC = P70    | IOSTANDARD=LVCMOS33 ; # GPIO7
#NET "SCK"     LOC = P69    | IOSTANDARD=LVCMOS33 ; # GPIO8
#NET "MOSI"    LOC = P68    | IOSTANDARD=LVCMOS33 ; # GPIO9
#NET "MISO"    LOC = P63    | IOSTANDARD=LVCMOS33 ; # GPIO10

#NET "SCL"     LOC = P60    | IOSTANDARD=LVCMOS33 | PULLUP; # GPIO11
#NET "SDA"     LOC = P59    | IOSTANDARD=LVCMOS33 | PULLUP; # GPIO12

## Header, GPIO[25:0]
#NET "HDR_TP<0>"  LOC = P80    | IOSTANDARD=LVCMOS33 ; # GPIO0
#NET "HDR_TP<1>"  LOC = P79    | IOSTANDARD=LVCMOS33 ; # GPIO1
#NET "HDR_TP<2>"  LOC = P78    | IOSTANDARD=LVCMOS33 ; # GPIO2
#NET "HDR_TP<3>"  LOC = P77    | IOSTANDARD=LVCMOS33 ; # GPIO3
#NET "HDR_TP<4>"  LOC = P76    | IOSTANDARD=LVCMOS33 ; # GPIO4
#NET "HDR_TP<5>"  LOC = P74    | IOSTANDARD=LVCMOS33 ; # GPIO5
#NET "HDR_TP<6>"  LOC = P73    | IOSTANDARD=LVCMOS33 ; # GPIO6
#NET "HDR_TP<7>"  LOC = P70    | IOSTANDARD=LVCMOS33 ; # GPIO7
#NET "HDR_TP<8>"  LOC = P69    | IOSTANDARD=LVCMOS33 ; # GPIO8
#NET "HDR_TP<9>"  LOC = P68    | IOSTANDARD=LVCMOS33 ; # GPIO9
#NET "HDR_TP<10>" LOC = P63    | IOSTANDARD=LVCMOS33 ; # GPIO10
#NET "HDR_TP<11>" LOC = P60    | IOSTANDARD=LVCMOS33 ; # GPIO11
#NET "HDR_TP<12>" LOC = P59    | IOSTANDARD=LVCMOS33 ; # GPIO12
#NET "HDR_TP<13>" LOC = P58    | IOSTANDARD=LVCMOS33 ; # GPIO13
#NET "HDR_TP<14>" LOC = P57    | IOSTANDARD=LVCMOS33 ; # GPIO14
#NET "HDR_TP<15>" LOC = P56    | IOSTANDARD=LVCMOS33 ; # GPIO15

#NET "HDR_TP<0>"  LOC = P55    | IOSTANDARD=LVCMOS33 ; # GPIO16
#NET "HDR_TP<1>"  LOC = P53    | IOSTANDARD=LVCMOS33 ; # GPIO17
#NET "HDR_TP<2>"  LOC = P52    | IOSTANDARD=LVCMOS33 ; # GPIO18
#NET "HDR_TP<3>"  LOC = P51    | IOSTANDARD=LVCMOS33 ; # GPIO19
#NET "HDR_TP<4>"  LOC = P50    | IOSTANDARD=LVCMOS33 ; # GPIO20
#NET "HDR_TP<5>"  LOC = P47    | IOSTANDARD=LVCMOS33 ; # GPIO21
#NET "HDR_TP<6>"  LOC = P46    | IOSTANDARD=LVCMOS33 ; # GPIO22
#NET "HDR_TP<7>"  LOC = P44    | IOSTANDARD=LVCMOS33 ; # GPIO23
#NET "HDR_TP<8>"  LOC = P41    | IOSTANDARD=LVCMOS33 ; # GPIO24
#NET "HDR_TP<9>"  LOC = P40    | IOSTANDARD=LVCMOS33 ; # GPIO25
#NET "HDR_TP<10>" LOC = P36    | IOSTANDARD=LVCMOS33 ; # GPIO26
#NET "HDR_TP<11>" LOC = P35    | IOSTANDARD=LVCMOS33 ; # GPIO27
#NET "HDR_TP<12>" LOC = P33    | IOSTANDARD=LVCMOS33 ; # GPIO28
#NET "HDR_TP<13>" LOC = P32    | IOSTANDARD=LVCMOS33 ; # GPIO29
#NET "HDR_TP<14>" LOC = P31    | IOSTANDARD=LVCMOS33 ; # GPIO30
#NET "HDR_TP<15>" LOC = P30    | IOSTANDARD=LVCMOS33 ; # GPIO31
#NET "HDR_CLK"    LOC = P28    | IOSTANDARD=LVCMOS33 ; # GPIO32

## Timing Constraints
TIMESPEC "TS_P2P" = FROM "PADS" TO "PADS" 80 ns;

#NET "CLKOUT" TNM_NET = "CLKOUT";
#TIMESPEC "TS_CLKOUT" = PERIOD "CLKOUT" 20 ns HIGH 50 %;

NET "IFCLK" TNM_NET = "IFCLK" ;
TIMESPEC "TS_IFCLK" = PERIOD "IFCLK" 20 ns HIGH 50%;

#OFFSET = IN  10 ns BEFORE "CLKOUT"  ;
#OFFSET = OUT 10 ns AFTER  "CLKOUT"  ;

# Note the following is too large!!
OFFSET = IN  10 ns BEFORE "IFCLK"  ;
OFFSET = OUT 20 ns AFTER  "IFCLK"  ;